{% extends 'workspace/base.html' %}
{% load static %}

{% block title %}| Изменение пароля{% endblock title %}
{% block content %}
    <div class="flex justify-center items-center min-h-screen">
        <div class="card">
            <div class="card-body rounded-lg">
                <div class="flex items-center justify-center mb-5">
                    <h2 class="h2 text-3xl font-semibold mb-6">Изменение пароля</h2>
                </div>
                <form action="{% url 'change_password' %}" id="change-password_form" method="POST" novalidate>
                    {% csrf_token %}

                    <div class="mb-4">
                        {{ form.password.errors }}
                        <label for="id_password1" class="block font-medium text-gray-700">Текущий пароль</label>
                        <input type="password" id="id_password1" name="password" class="input"
                               placeholder="Введите текущий пароль...">
                    </div>

                    <div class="mb-4">
                        {{ form.new_password.errors }}
                        <label for="id_password2" class="block font-medium text-gray-700">Новый пароль</label>
                        <input type="password" id="id_password2" name="new_password" class="input"
                               placeholder="Введите новый пароль...">
                    </div>

                    <div class="mb-4">
                        {{ form.confirm_password.errors }}
                        <label for="id_password2" class="block font-medium text-gray-700">Подтвердите пароль</label>
                        <input type="password" id="id_password2" name="confirm_password" class="input"
                               placeholder="Подтвердите новый пароль...">
                    </div>
                    <button type="submit" class="btn-login rounded-lg w-full">Сохранить</button>
                </form>
            </div>
        </div>
    </div>

    <style>

        #change-password_form ul {
            list-style: none;
            margin: 0;
            padding: 0;
            color: red;
        }

        body {
            font-family: 'Roboto', sans-serif;
            background-image: url("/media/пароль.jpeg");
            background-size: cover;
            max-width: 4000px;
            width: 100%;
        }

        .card {
            background-color: #ffffff;
            border-radius: 10px;
            max-width: 450px;
            width: 100%;
        }

        .card-body {
            padding: 2rem;
        }

        .input {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border-radius: 20px;
            border: 1px solid #ccc;
            transition: border-color 0.3s ease;
        }

        label {
            font-size: 18px;
            margin-left: 6px;
        }

        input:hover {
            outline: none;
            border-color: #4CAF50;
        }

        .input:focus {
            outline: none;
            border-color: #4CAF50;
        }

        .btn-login {
            background-color: #4CAF50;
            color: white;
            padding: 12px 15px;
            font-size: 1.2rem;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btn-login:hover {
            background-color: #45a049;
        }

        @media (max-width: 700px) {

            .h2 {
                font-size: 23px;
            }

            .card {
                max-width: 350px;
                width: 100%;
            }

            label {
                font-size: 16px;
                margin-left: 4px;
            }

            .btn-login {
                padding: 8px 13px;
                font-size: 1rem;
            }

            .
        }

    </style>

{% endblock content %}